In [1]:
import os
os.chdir("C:\\Users\\Bill Chen\\Desktop\\UCSD Course\\MD Lab\\scrapeAll")
import pandas as pd
import json
import numpy as np

In [4]:
table_path = 'data/Test/raw/Guangdong_prov_month/bjx/10月集中竞争结果.pdf_temp/'
os.listdir(table_path)

['page_0.jpg',
 'page_0.xls',
 'page_1.jpg',
 'page_1.xls',
 'page_2.jpg',
 'page_2.xls',
 'page_3.jpg',
 'page_3.xls']

In [5]:
df0 = pd.read_excel(table_path+'page_0.xls', header=None)
df1 = pd.read_excel(table_path+'page_1.xls', header=None)
df2 = pd.read_excel(table_path+'page_2.xls', header=None)
df3 = pd.read_excel(table_path+'page_3.xls', header=None)

In [6]:
def row_vec(arr):
    return [not pd.isna(i) for i in arr]

In [52]:
def row_vec(arr):
    return [not pd.isna(i) for i in arr]

def get_table_from_excel(df, result = []):
    df_data = df.to_numpy()
    
    for i in range(len(df_data)):
        row_val = row_vec(df_data[i])
        if sum(row_val) < 2:
            continue

        result.append(df_data[i][row_val])
    return result

def get_tables_from_excels(table_path):
    file_ls = os.listdir(table_path)
    result = []
    temp = []
    row_key = None
    for file in file_ls:
        if file.endswith('xls'):
            df = pd.read_excel(table_path+file, header=None)
            result = get_table_from_excel(df, result)
    return result

def isTitle(arr):
    arr = arr.astype('str')
    notDigit = all(~np.array([x.replace('.', '').isdigit() for x in arr]))
    notInt = all(~np.array([isinstance(x, int) for x in arr]))
    notFloat = all(~np.array([isinstance(x, float) for x in arr]))
    return all([notDigit, notInt, notFloat])

def split_tables(array):
    title_index = []
    tables = []
    for i, d in enumerate(array):
        if isTitle(d):
            title_index.append(i)
    for i in range(len(title_index)):
        if i == len(title_index) - 1:
            if title_index[i] == len(array) - 1:
                continue
            tables.append(pd.DataFrame(array[title_index[i]:]))
            continue
        if title_index[i+1] == title_index[i] + 1:
            continue
        
        tables.append(pd.DataFrame(array[title_index[i]:title_index[i+1]]))
    return tables

def store_clean(tables, outpath):
    if not os.path.exists(outpath):
        os.makedirs(outpath)
    for i, table in enumerate(tables):
        table.to_excel(os.path.join(outpath, f'table_{i}.xlsx'))

In [34]:
#split_tables(all_tables)
title_index = []
tables = []
for i, d in enumerate(all_tables):
    if isTitle(d):
        title_index.append(i)
for i in range(len(title_index)-1):
    if title_index[i+1] == title_index[i] + 1:
        continue
    if title_index[i] == len(all_tables):
        continue
    tables.append(pd.DataFrame(all_tables[title_index[i]:title_index[i+1]]))

In [53]:
all_tables

[array(['-37厘/千瓦时！广东10月集中竞价：价差再收窄成交量基本持平北极星售电网来源：北极星售电网2018/9/2811:53:54我要投稿',
        'TBEA特变电工特变电工新疆新能源股份有限公司'], dtype=object),
 array(['需求方：共有144家参与报价，总申报电量为411789.0万千瓦时，其中144家初步成交，成交的电量为411789.0万千瓦时。需求方平均申报价差-0.5685厘/千瓦时，其中最高成交申报价差为0厘/千瓦时，最低成交申报价差为-35.0厘/千瓦时。',
        '新闻排行榜今日本周本月'], dtype=object),
 array(['2017年2月', -145.5, 12.09, 2.35], dtype=object),
 array(['2017年3月', -189.45, 21.66, 2.29], dtype=object),
 array(['2017年4月', -101.5, 20.27, 1.54], dtype=object),
 array(['2017年5月', -45.0, 24.82, 1.56], dtype=object),
 array(['2017年6月', -48.15, 24.91, 1.57], dtype=object),
 array(['2017年7月', -115.0, 28.2, 1.79], dtype=object),
 array(['2017年8月', -40.5, 32.4, 1.2], dtype=object),
 array(['2017年9月', -42.6, 35.5, 1.2], dtype=object),
 array(['2017年10月', -65.0, 39.5, 1.2], dtype=object),
 array(['2017年11月', -37.0, 41.2, 1.2], dtype=object),
 array(['2017年12月', -39.45, 38.29, 1.2], dtype=object),
 array(['2018年1月', -36.5, 35.15, 1.2], dtype=object),
 array(['2018年2月', -46.5, 32.4, 1.2], dtype=object),
 array(['2018年3月', -41.5, 42.7, 1.2], dtype=object),
 array(['2018年4月', -43.95, 38.98, 1.2], dtype=object),
 array(['2018年5月', -42.0, 36.34, 1.2], dtype=object),
 array(['2018年6月', -39.3, 42.68, 1.2], dtype=object),
 array(['2018年7月', -43.35, 42.5, 1.2], dtype=object),
 array(['2018年8月', -44.1, 43.2, 1.2], dtype=object),
 array(['2018年9月', -42.0, 44.1, 1.2], dtype=object),
 array(['2018年10月', -37.0, 44.1, 1.2], dtype=object),
 array(['浙江售电市场定了！2020年浙江省电', '增量配电新思路', ':浙江售电公司险境求存'], dtype=object),
 array(['评“邮票法"下增量配电', '独家调查浙江售电公'], dtype=object),
 array(['reading…山东售电大调查', '2019年售电年中总结2019年售电人年中总结',
        '首吃电改“螃蟹云南模式激起电改浪花首“吃”电改“螃蟹”“云南', '现货市场运行后售电公司如何适应电力现货市场运行后售'],
       dtype=object)]

In [55]:
split_tables(all_tables)

[                                                    0            1      2  \
 0   需求方：共有144家参与报价，总申报电量为411789.0万千瓦时，其中144家初步成交，成...  新闻排行榜今日本周本月    NaN
 1                                             2017年2月       -145.5  12.09
 2                                             2017年3月      -189.45  21.66
 3                                             2017年4月       -101.5  20.27
 4                                             2017年5月        -45.0  24.82
 5                                             2017年6月       -48.15  24.91
 6                                             2017年7月       -115.0  28.20
 7                                             2017年8月        -40.5  32.40
 8                                             2017年9月        -42.6  35.50
 9                                            2017年10月        -65.0  39.50
 10                                           2017年11月        -37.0  41.20
 11                                           2017年12月       -39.45  38.29
 12                                            2018年1月        -36.5  35.15
 13                                            2018年2月        -46.5  32.40
 14                                            2018年3月        -41.5  42.70
 15                                            2018年4月       -43.95  38.98
 16                                            2018年5月        -42.0  36.34
 17                                            2018年6月        -39.3  42.68
 18                                            2018年7月       -43.35  42.50
 19                                            2018年8月        -44.1  43.20
 20                                            2018年9月        -42.0  44.10
 21                                           2018年10月        -37.0  44.10

        3
 0    NaN
 1   2.35
 2   2.29
 3   1.54
 4   1.56
 5   1.57
 6   1.79
 7   1.20
 8   1.20
 9   1.20
 10  1.20
 11  1.20
 12  1.20
 13  1.20
 14  1.20
 15  1.20
 16  1.20
 17  1.20
 18  1.20
 19  1.20
 20  1.20
 21  1.20  ]

In [32]:
title_index

[]

In [ ]:
store_clean(tables, r'C:\Users\Bill Chen\Desktop\UCSD Course\MD Lab\scrapeAll\data\Test\clean\Guangdong_prov_month\易电在线')

In [ ]:
all_table = get_tables_from_excels(table_path)

In [ ]:
tables = split_tables(all_table)

In [ ]:
tables[2]

In [ ]:
a = a.astype('str')

In [ ]:
all(~np.array([isinstance(x, int) for x in a]))

In [ ]:
np.char.isdecimal(np.array(['SD89', '深圳市绿色丝路电力销售有限公司', 6.0], dtype=object).astype('str'))

In [ ]:
a = all_table[6]
a = a.astype('str')
isTitle(a)

In [ ]:
pd.DataFrame(all_table[1:11], columns = all_table[0])

In [ ]:
tables = []
table = []
for i, d in enumerate(all_table):
    if isTitle(d):
        print(i, d)

In [ ]:
all_table

In [ ]:
result, temp = get_tables_from_excels(table_path)

In [ ]:
pd.DataFrame(temp)

In [ ]:
result[0]

In [ ]:
result[1]

In [ ]:
result[2]